@import 'tailwindcss';

@font-face {
    font-family: berkeley-mono;
    src: url(/fonts/BerkeleyMonoVariable-Regular.woff) format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: berkeley-mono;
    src: url(/fonts/BerkeleyMonoVariable-Regular.woff2) format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: berkeley-mono;
    src: url(/fonts/BerkeleyMonoVariable-Italic.woff) format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: berkeley-mono;
    src: url(/fonts/BerkeleyMonoVariable-Italic.woff2) format("woff2");
    font-display: swap;
    font-style: italic;
    font-weight: 100;
}

@theme {
  --font-family-mono: berkeley-mono;
}

@utility ligatures-none {
  font-variant-ligatures: none;
}
